/* font-family: 'Comfortaa', cursive; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.3rem;
  background: #f9f9f9;
  height: 100%;
}
a {
  color: #333333;
  text-decoration: none;
}
.profile_pic {
  margin: 5px;
  width: 15%;
  height: 15%;
  position: relative;
  border: 3px solid #ff8400;
  border-radius: 5%;
  padding: 1%;
  box-shadow: 10px 10px 25px -4px rgba(0, 0, 0, 0.75);
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: auto;
  padding: 0 2rem;
}

.main-header {
  height: 55vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
}
.main-header h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
  line-height: 1.2;
}
.main-header h1 span {
  color: rgb(220, 36, 36);
}
.main-header p {
  font-size: 2rem;
}
img {
  width: 100%;
}

.card {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: 2rem;
  background: #dad7d7;
  margin-bottom: 2rem;
}

.card h3 {
  margin-bottom: 2rem;
  font-size: 3rem;
}
.card h3:hover {
  font-size: 3.5rem;
}
.card p {
  padding: 2rem;
}
.card img {
  height: 600px;
}

.card img:hover {
  opacity: 0.8;
  padding: 1rem;
}

.card > div {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.card:nth-child(even) img {
  order: 2;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  padding: 0.8rem 1.8rem;
  margin-top: 1.5rem;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

@media (max-width: 700px) {
  .card {
    display: block;
  }
  .profile_pic {
    width: 45%;
    height: 45%;
  }
}
.darkTheme {
  filter: invert(1) hue-rotate(180deg);
}
.invert {
  filter: invert(1) hue-rotate(180deg);
}
.insideJumboTag {
  text-align: center;
  position: absolute;
  top: 50%;
  position: relative;
  color: white;
}
.Welcome_pageDiv {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1581893106728-1e2197903b0a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 450px;
}
.name_text{
  color: rgb(63, 60, 60);
}
.typewriter {
  /* This is the top most div with i am a full stack developer animation  */
  /* margin top 5 is required  */
}
/* DEMO-SPECIFIC STYLES */
.typewriter p::before {
  content: "";
  /* max-width: 360px; */
  color: rgb(63, 60, 60);
  font-family: "Josefin Sans";
  font-size: 5vw;
  overflow: scroll; /* Ensures the content is not revealed until the animation */
  text-align: center;
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0; /* Adjust as needed */

  animation: typing 5s steps(30, end) infinite 4s,
    blink-caret 0.45s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  0% {
    content: " I am ";
  }
  3% {
    content: " I am ";
  }
  5% {
    content: " I am a  ";
  }
  10% {
    content: " I am a Web ";
  }
  15% {
    content: " I am a Web Dev ";
  }
  20% {
    content: " I am a Web Develo ";
  }
  25% {
    content: " I am a Web Developer ";
  }
  30% {
    content: " I am a Web Developer ";
  }
  35% {
    content: " I am a Web Deve ";
  }
  40% {
    content: " I am a Web D ";
  }
  45% {
    content: " I am a We ";
  }
  50% {
    content: " I am a F  ";
  }
  55% {
    content: " I am a Fu ";
  }
  60% {
    content: " I am a Full ";
  }
  65% {
    content: " I am a Full St ";
  }
  70% {
    content: " I am a Full Stac ";
  }
  75% {
    content: " I am a Full Stack We";
  }
  80% {
    content: " I am a Full Stack Web De ";
  }
  85% {
    content: " I am a Full Stack Web Deve ";
  }
  90% {
    content: " I am a Full Stack Web Develo ";
  }
  95% {
    content: " I am a Full Stack Web Develope ";
  }
  100% {
    content: " I am a Full Stack Web Developer ";
  }
} /* The typewriter cursor effect */
@keyframes blink-caret {
  from {
    border-color: transparent;
  }
  50% {
    border-color: #ff8400;
  }
}
